{% extends 'base_doctor.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body_content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-8 col-4">
                <h4 class="page-title">Send Prescription</h4>
            </div>
            {% if recepient %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{recepient}}</strong> 
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
            
         </div>
         <div class="container">
          
            <form method="POST" action="" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group col-lg-4" >
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name = "email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>


              <div class="form-outline">
                  <textarea class="form-control  col-lg-6" name="prescription" id="textAreaExample" rows="4" required></textarea>
                  <label class="form-label" for="textAreaExample">write prescription</label>
              </div>
          
              <button type="submit" class="btn btn-primary">Send</button>
            </form> 
          </div>
  </div>
</div>
{% endblock %}