<!DOCTYPE html>


{% load static %}
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
    <title>E-Health Care</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}"s>
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
      <div class="header-left">
        <a href="index-2.html" class="logo">
          <img src="{% static 'assets/img/logo.png' %}" width="35" height="35" alt=""> <span>E-Health Care</span>
        </a>
      </div>
      <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
           
              
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
       
                <span class="user-img">
                    <img class="rounded-circle" src="{% static 'assets/img/user.jpg' %}" width="24" alt="Admin">
                <span class="status online"></span>              



            </span>
            <span>Welcome admin</span>
                    </a>
          <div class="dropdown-menu">
            <!-- <a class="dropdown-item" href="{% url 'my_profile' %}">My Profile</a> -->
            <!-- <a class="dropdown-item" href="{% url 'patient_profile' %}">Edit Profile</a> -->
            <a class="dropdown-item" href="{% url 'roleadmin_logout' %}" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- <a class="dropdown-item" href="{% url 'my_profile' %}">My Profile</a> -->
                    <!-- <a class="dropdown-item" href="{% url 'patient_profile' %}">Edit Profile</a> -->
                    <a class="dropdown-item" href="{% url 'roleadmin_logout' %}">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Admin</li>
                        <li class="active">
                            <a href="{% url 'admin_dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <!-- <li class="active">
                            <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> <span>Check Disease</span></a>
                        </li> -->
                        <li>

                            <a href="{% url 'doctors_list' %}"><i class="fa fa-user-md"></i> <span>Doctors</span></a>

                        </li>
                        <li>
                            <a href="{% url 'patients_list' %}"><i class="fa fa-wheelchair"></i> <span>Patients</span></a>
                        </li>
                        <li>
                            <a href="{% url 'disease' %}"><i class="fa fa-calendar"></i> <span>Disease</span></a>
                        </li>
                        <!-- <li>
                            <a href="{% url 'showimage' %}"><i class="fa fa-hospital-o"></i> <span>Pneumonia check</span></a>
                        </li> -->
                        <li>
                            <a href="{% url 'our_feedback' %}"><i class="fa fa-calendar-check-o"></i> <span>Feedback</span></a>
                        </li>
                     
            <li class="submenu">
              <a href="#"><i class="fa fa-user"></i> <span> Employees </span> <span class="menu-arrow"></span></a>
              <ul style="display: none;">
                <li><a href="">Employees List</a></li>
                <li><a href="">Leaves</a></li>
                <li><a href="">Holidays</a></li>
                <li><a href="">Attendance</a></li>
              </ul>
            </li>
         
            <li class="submenu">
              <a href="#"><i class="fa fa-book"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
              <ul style="display: none;">
                <li><a href=""> Employee Salary </a></li>
                <li><a href=""> Payslip </a></li>
              </ul>
            </li>
                        <li>
                            <a href=""><i class="fa fa-comments"></i> <span>Chat</span> <span class="badge badge-pill bg-primary float-right">5</span></a>
                        </li>
                       
                        <li class="submenu">
                            <a href="#"><i class="fa fa-envelope"></i> <span> Email</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="">Compose Mail</a></li>
                                <li><a href="">Inbox</a></li>
                                <li><a href="">Mail View</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-commenting-o"></i> <span> Blog</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="">Blog</a></li>
                                <li><a href="">Blog View</a></li>
                                <li><a href="">Add Blog</a></li>
                                <li><a href="">Edit Blog</a></li>
                            </ul>
                        </li>
            <li>
              <a href=""><i class="fa fa-cube"></i> <span>Assets</span></a>
            </li>
            <li>
              <a href=""><i class="fa fa-bell-o"></i> <span>Activities</span></a>
            </li>
            <li class="submenu">
              <a href="#"><i class="fa fa-flag-o"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
              <ul style="display: none;">
                <li><a href=""> Expense Report </a></li>
                <li><a href=""> Invoice Report </a></li>
              </ul>
            </li>
                        <li>
                            <a href=""><i class="fa fa-cog"></i> <span>Settings</span></a>
                        </li>
                        <li class="menu-title">UI Elements</li>
                        
                        <li class="submenu">
                            <a href="#"><i class="fa fa-edit"></i> <span> Forms</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="">Basic Inputs</a></li>
                                <li><a href="">Input Groups</a></li>
                                <li><a href="">Horizontal Form</a></li>
                                <li><a href="">Vertical Form</a></li>
                            </ul>
                        </li>
                      
                        <li>
                            <a href="calendar.html"><i class="fa fa-calendar"></i> <span>Calendar</span></a>
                        </li>
                        <li class="menu-title">Extras</li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-columns"></i> <span>Pages</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="login.html"> Login </a></li>
                                <li><a href="register.html"> Register </a></li>
                                <li><a href="forgot-password.html"> Forgot Password </a></li>
                                <li><a href="change-password2.html"> Change Password </a></li>
                                <li><a href="lock-screen.html"> Lock Screen </a></li>
                                <li><a href="profile.html"> Profile </a></li>
                                <li><a href="gallery.html"> Gallery </a></li>
                                <li><a href="error-404.html">404 Error </a></li>
                                <li><a href="error-500.html">500 Error </a></li>
                                <li><a href="blank-page.html"> Blank Page </a></li>
                            </ul>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </div>

    {% block body_content %}

    {% endblock %}

    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="{% url 'roleadmin_logout' %}">Logout</a>
            </div>
          </div>
        </div>
    </div>
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"> </script>
    <script src="{% static 'assets/js/Chart.bundle.js' %}"></script>
    <script src="{% static 'assets/js/chart.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script type="text/javaScript">
        $(function () {
             $('[data-toggle="tooltip"]').tooltip();
             tinymce.init({
             selector: 'textarea#editor',
             menubar: false
           });
           })
     </script>
  

</body>



</html>