{% extends 'base.html' %}
{% load static %}
{% block body_content %}
<div class="page-wrapper">
<div class="content"> 
    <div class="row">
            <h4 class="page-title">Add Feedback</h4>
    </div>
    <!-- <div class="row"> -->
            <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">Title:</label>
                 <input class="form-control" type="text" name="title"  maxlength="50" required id="id_title">
                </div>
            <div class="form-group">
                <label for="id_text">Description</label> 
                <textarea class="form-control" name="text" cols="40" rows="10" maxlength="200" required id="id_text">
                </textarea>
                </div>
           
        <div class="form-group">
             <label for="id_picture">Picture Currently:</label> <a href="feedback.picture.url"></a><br>
                <input value="feedback.picture.url" class="form-control" type="file" name="picture" accept="image/*" id="id_picture">
        </div> 
        <button type="submit" class="btn btn-info btn-user ">Update Feedback</button>         
        
        <a href="{% url 'feedback' %}" class="btn btn-secondary">Cancel</a>
    </form>
    <!-- </div> -->
</div>
</div>

{% endblock %}