{% extends "base.html" %}
{% block body_content %}


<div class="page-wrapper" >
    <div class="content" style="background-color: skyblue;">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title"> <strong>Please upload Your X-ray Image</strong></h4>
            </div><br><br><br><br>
            <h4 class="mb-5"> <strong>{{sur}}</strong> </h4>  
        </div>   
    </div>
<div>
<div class="card-box"style="background-color: skyblue;" >
      <div class="container">
        <div class="row">
          <div class=" col md-12">
            <h4>Image Uploader</h4><br><br>
            <div>
            <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Upload"/>
            </form>
        </div>
      </div>
            
            
    

    </div> 
</div>


<div class="card-box" style="background-color: skyblue;">
    {% if disease_doctor_list.all %}
      <h5>Suggested Doctor Information</h5>
      <div class="container">
        <div class="row">
          <div class=" col md-12">
           
              <table class="table table-border table-striped custom-table datatable mb-0" style="max-height: 500px; overflow-x: auto; overflow-y: auto;">
                <thead>
                  <tr>
                    <th scope="col">DoctorID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                  </tr>
                </thead>
                <tbody>
                  {% for doctor in disease_doctor_list %}
                  <tr>
                    <th> {{doctor.doctorID}}</th>
                    <th> {{doctor.user.first_name}}&nbsp;{{doctor.user.last_name}}</th>
                    <th>{{doctor.department}}</th>
                    <td>{{doctor.user.email}}</td>
                    <td>{{doctor.phone_number}}</td>
                  </tr>
                  {% endfor %}
           
                </tbody>
                  </table>
                  {% else %}
                  <h5>No Doctor Available </h5>
            {% endif %}
</div> 
{% endblock %}