
<div class="page-wrapper">
<div class="content"> 
    <div class="row">
            <h4 class="page-title" style="text-align: center;">E HEALTH CARE</h4>
    </div>

        <div class="row">
            <div class="col-md-6">
                <div class="project-info-box mt-0">
                    <h5>APPOINTMENT DETAILS</h5>
                    <hr/>
                    
                    <p><b>Appointment ID:</b><b>{{a.appointment_id.id}}</b></p>
                    <p><b>PATIENT NAME:</b>{{a.booked_by.name}}</p>
                    <p><b>CONTACT NUMBER:</b>{{a.booked_by.phone_number}}</p>
                    <p><b>EMAIL:</b>{{a.booked_by.user.email}}</p>
                    <p class="mb-0"><b>ADDRESS:</b>{{a.booked_by.address}}</p>
                </div>
                <hr/>
                <div class="project-info-box">
                    <p><b>DOCTOR NAME:</b>{{a.appointment_id.create_by.user.first_name}} {{a.appointment_id.create_by.user.last_name}}</p>
                    <p><b>APPOINTMENT DATE:</b>{{a.appointment_id.appointment_date|date:"M d, Y"}}</p>
                    <p><b>APPOINTMENT DAY:</b>{{a.appointment_id.appointment_day}}</p>
                    <p><b>AVAILABLE TIME:</b>{{a.appointment_id.appointment_start_time}}-{{a.appointment_id.appointment_end_time}}</p>
                </div><!-- / project-info-box -->

            </br>
             
    </div>
    </div>
</div>
</div>





