
{% extends "base.html" %}
{% block body_content %}

<div class="page-wrapper" >
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Results</h4>
            </div>
        </div>

<div class="card-box" style="background-color: skyblue;">
    <!-- <h4 class="mb-5"> You are suffering from  {{Disease}} </h4> -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <!-- <h4 class="page-title"><strong>You are suffering from {{Disease}}</strong></h4> -->
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
      <h5>Suggested doctor Information</h5>

      <div class="container">
        <div class="row">
          <div class=" col md-12">
           
              <table class="table table-light">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                  </tr>
                </thead>
                <tbody>
                
                  <tr>
                    <th> {{ name }}</th>
                    <td>{{email}}</td>
                    <td>{{phone}}</td>
                  </tr>
                  </table>

</div>
</div>
</div>
{% endblock %}
