
{% extends "base.html" %}
{% block body_content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Results</h4>
            </div>
        </div>

<div class="card-box">
    <h4 class="mb-5"> You are suffering from  {{Disease}} </h4>
    {% if disease_doctor_list.all %}
      <h5>Suggested Doctor Information</h5>
      <div class="container">
        <div class="row">
          <div class=" col md-12">
           
              <table class="table table-light">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                  </tr>
                </thead>
                <tbody>
                  {% for info in disease_doctor_list %}
                  <tr>
                    <th> {{info.doctor_name.name }}</th>
                    <td>{{info.doctor_name.email}}</td>
                    <td>{{info.doctor_name.email}}</td>
                  </tr>
                  {% endfor %}
           
                </tbody>
                  </table>
                  {% else %}
                  <h5>No Doctor Available </h5>
            {% endif %}

</div>
</div>
</div>
{% endblock %}
