{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body_content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Disease and Doctor</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="POST" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                             {{ assign_disease_form.name|as_crispy_field }}
                             <span class="text-danger" >
                                {{assign_disease_form.name.errors}}
                        </span>
                        </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                              {{ assign_disease_form.doctor|as_crispy_field}}
                              <span class="text-danger" >
                                {{doctor_add_form.doctor.errors}}
                        </span>
                            </div>

                        </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Add Doctor</button>
                  <br/>
                          <a href="{% url 'disease' %}" class="btn btn-secondary btn-lg btn-block">Cancel</a>
                    <!-- <label for="id_name">Name</label>
                    <input type="text" name="name" required id="id_name" class="form-control"> -->
                  </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
