{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body_content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Doctor</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ userForm.first_name|as_crispy_field }}
                                <!-- <label for="id_name">Doctor Name</label>  -->
                                <!-- <input value="" class="form-control" type="text" name="name" maxlength="40" required id="id_name"> -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ userForm.last_name|as_crispy_field }}
                                <!-- <label for="id_name">Doctor Name</label>  -->
                                <!-- <input value="" class="form-control" type="text" name="name" maxlength="40" required id="id_name"> -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                            {{ userForm.email|as_crispy_field }}
                                <!-- <label for="id_email">Email:</label>     -->
                                <!-- <input value="" class="form-control" type="email" name="email" maxlength="254" required id="id_email"> -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ userForm.username|as_crispy_field }}
                               
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ userForm.password|as_crispy_field }}

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{doctor_add_form.address|as_crispy_field}}

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{doctor_add_form.phone_number|as_crispy_field}}
                                <!-- <label for="id_phone_number">Phone Number</label>  -->
                                <!-- <input class="form-control" type="text" name="phone_number" maxlength="17" id="id_phone_number">  -->
                            </div>
                        </div>
                        <!-- <div class="col-sm-6"> -->
                            <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Date of Birth</label>
                                        <input type="date" class="form-control">
                                </div>
                            </div> -->
                        <!-- </div> -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{doctor_add_form.picture|as_crispy_field}}
                               
                            </div>
                        </div>
                        <div class="col-sm-6">
                        <div class="form-group">
                            {{doctor_add_form.gender|as_crispy_field}}

                        </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{doctor_add_form.doctorID|as_crispy_field}}

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{doctor_add_form.department|as_crispy_field}}

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{doctor_add_form.education_degree|as_crispy_field}}

                            </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{doctor_add_form.education_college|as_crispy_field}}

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{doctor_add_form.education_year|as_crispy_field}}

                            </div>
                            </div>
                            <!-- <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/> -->

                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Add Doctor</button>
                <br/>
                        <a href="{% url 'doctors_list' %}" class="btn btn-secondary btn-lg btn-block">Cancel</a>
                </form>
                
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}