{% extends 'base_admin.html' %}
{% load static %}
{% block body_content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Doctor</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_name">Doctor Name</label> 
                                <input value="{{doctor.name}}" class="form-control" type="text" name="name" maxlength="40" required id="id_name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_email">Email:</label>    
                                <input value="{{doctor.email}}" class="form-control" type="email" name="email" maxlength="254" required id="id_email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_username">Username</label>
                                <input value="{{doctor.username}}" class="form-control" type="text" name="username" maxlength="40" required id="id_username">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_password">Password</label> 
                                <input value="{{doctor.password}}" class="form-control" type="text" name="password" maxlength="20" required id="id_password">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_address">Address</label> 
                                <input value="{{doctor.address}}" class="form-control" type="text" name="address" maxlength="100" required id="id_address">  
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_phone_number">Phone Number</label> 
                                <input value="{{doctor.phone_number}}" class="form-control" type="text" name="phone_number" maxlength="17" id="id_phone_number"> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                        <div class="form-group">
                        <label for="id_hospital">Hospital</label> 
                        <input type="text" value="{{doctor.hospital}}"s name="hospital" maxlength="100" required id="id_hospital">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_picture">Current Picture</label>
                                <a href="feedback.picture.url">{{doctor.picture}}</a> 
                                <input type="file" name="picture" accept="image/*" id="id_picture" value="doctor.picture.url" >
                               
                            </div>
                        </div>
                        <div class="col-sm-6">
                        <div class="form-group">
                            <label for="id_gender">Gender</label> 
                            <select value="{{doctor.gender}}" name="gender" id="id_gender" class="form-control">
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_doctorID">Doctor ID</label>
        
                                <input value="{{doctor.doctorID}}" class="form-control" type="text" name="doctorID" maxlength="50" required id="id_doctorID">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                            <label for="id_department">Department</label>
                            <input value="{{doctor.department}}" class="form-control" type="text" name="department" maxlength="30" required id="id_department">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                        <label for="id_education_college">Education college</label> 
                        <input value="{{doctor.education_college}}" class="form-control" type="text" name="education_college" maxlength="100" required id="id_education_college">         
                            </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_education_degree">Education degree</label> 
                                    <input value="{{doctor.education_degree}}" class="form-control" type="text" name="education_degree" maxlength="100" required id="id_education_degree">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                            <label for="id_education_year">Education year</label>
                             <input value="{{doctor.education_year}}" class="form-control" type="text" name="education_year" maxlength="50" required id="id_education_year">
                            </div>
                            </div>
                            <!-- <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/> -->

                        </div>

                        <button type="submit" class="btn btn-primary btn-lg btn-block">Update Doctor</button>
                        <br/>
                        <a href="{% url 'doctors_list' %}" class="btn btn-secondary btn-lg btn-block">Cancel</a>

                </form>

            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}